

# Project: Investigate a TMDb movie data 

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [1]:
import pandas as pd
import numpy as np
import datetime

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [4]:
df = pd.read_csv('../Data/P2/tmdb-movies.csv')


### Data Exploring

In [5]:
len(df)

10866

In [6]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [7]:
df.shape

(10866, 21)

In [8]:
df.head(1).T

                                                                      0
id                                                               135397
imdb_id                                                       tt0369610
popularity                                                      32.9858
budget                                                        150000000
revenue                                                      1513528810
original_title                                           Jurassic World
cast                  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
homepage                                  http://www.jurassicworld.com/
director                                                Colin Trevorrow
tagline                                               The park is open.
keywords              monster|dna|tyrannosaurus rex|velociraptor|island
overview              Twenty-two years after the events of Jurassic ...
runtime                                                             124
genres                        Action|Adventure|Science Fiction|Thriller
production_companies  Universal Studios|Amblin Entertainment|Legenda...
release_date                                                     6/9/15
vote_count                                                         5562
vote_average                                                        6.5
release_year                                                       2015
budget_adj                                                     1.38e+08
revenue_adj                                                 1.39245e+09

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [10]:
df.describe().T[['min','max']]

                      min           max
id               5.000000  4.178590e+05
popularity       0.000065  3.298576e+01
budget           0.000000  4.250000e+08
revenue          0.000000  2.781506e+09
runtime          0.000000  9.000000e+02
vote_count      10.000000  9.767000e+03
vote_average     1.500000  9.200000e+00
release_year  1960.000000  2.015000e+03
budget_adj       0.000000  4.250000e+08
revenue_adj      0.000000  2.827124e+09

###  Cleaning  ( Check null , duplicated and fix type)

In [11]:
## remove annassiri columns 
df.drop( inplace= True ,columns=['id',
                                'imdb_id',
                                'homepage',
                                'tagline',
                                'keywords',
                                'overview',
                                 'budget_adj' ,
                                 'revenue_adj'])

In [12]:
df.shape

(10866, 13)

In [13]:
# check null
df.isnull().sum()

popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
director                  44
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
dtype: int64

In [14]:
# drop null 

# i can do better than this use some API to complete  missing data but this is simple project haha ... 
df.dropna(inplace=True)

In [15]:
df.isnull().sum()

popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
director                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
dtype: int64

In [16]:
# check dublicated ... 

df.duplicated().sum()

1

In [17]:
# drop duplicated .... 
df.drop_duplicates(inplace=True)

In [18]:
df.dtypes

popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
director                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
dtype: object

In [19]:
# Convert relase date 
df.release_date = df.release_date.map(lambda x:pd.to_datetime(x))

In [20]:
df.release_date.tail()

10861   2066-06-15
10862   2066-12-21
10863   2066-01-01
10864   2066-11-02
10865   2066-11-15
Name: release_date, dtype: datetime64[ns]

- i see there is something wrong 

**with release date we are in 2019 and the sea the is some moveis in 2066 !!!**

**lets grab this data**

In [21]:
df.query('release_date == "2068-12-22 00:00:00"')

,popularity,budget,revenue,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9725,0.757746,0,0,The Love Bug,Dean Jones|Michele Lee|Buddy Hackett|Joe Flynn...,Robert Stevenson,107,Comedy|Family|Fantasy,Walt Disney Productions,2068-12-22,62,5.8,1968

In [22]:
# from this data i realize the mistake it because the date before 2000 make some mistake
# the right year is with column release year

In [23]:
def FixDate(r_d,r_y):
    '''
    r_d = release_date
    r_y = release_year
    
    this function will replace relase_date year with release_year
    and retun new fixed date
    
    '''
    return(r_d.replace(year=r_y,month=r_d.month,day=r_d.day))

In [24]:
# now we fix the date with FixDate function
df['release_date'] = df[['release_date','release_year']].apply(lambda x:FixDate(x['release_date'],x['release_year']),axis=1)

In [25]:
# cheack any date after 2019
df.query('release_year > 2019').head()

Empty DataFrame
Columns: [popularity, budget, revenue, original_title, cast, director, runtime, genres, production_companies, release_date, vote_count, vote_average, release_year]
Index: []

In [26]:
# ALL GOOD :)

In [27]:
df.to_csv('../Data/P2/tmdb-movies_Cleaning_1',index=False)

###  Future Engineers

In [28]:
# we will Create new column (Profits)
# that calculate df.revenue -  df.budget
df['Profits'] =df.revenue -  df.budget 
df['Profits_in_PERCENT'] =   df['Profits'] * 100 / df['budget']

In [30]:
df.to_csv('../Data/P2/tmdb-movies_Cleaning_2',index=False)

** i want to spreate the cast,director,genres and production_companies
to be usful when using data  :)**

example : we will create new column for  CAST (Christopher Mintz-Plasse) 
and the value will be 1 if this actor act in this movie ...

# Step 1 
# Get all cast,director,genres and production_companies in separate sets

In [31]:
ALL_CAST = set() 
ALL_director = set() 
ALL_genres = set() 
ALL_production_companies = set()

In [32]:
df.cast.map(lambda x:[ALL_CAST.add(Y) for Y in x.split('|')])
df.director.map(lambda x:[ALL_director.add(Y) for Y in x.split('|')])
df.genres.map(lambda x:[ALL_genres.add(Y) for Y in x.split('|')])
df.production_companies.map(lambda x:[ALL_production_companies.add(Y) for Y in x.split('|')])
print()

In [33]:
# print count for each one 

print( 'len(ALL_CAST) = ' , len(ALL_CAST))

print("len(ALL_director) = ", len(ALL_director))

print("len(ALL_genres) = " , len(ALL_genres))

print("len(ALL_production_companies) = " , len(ALL_production_companies))

len(ALL_CAST) =  17124
len(ALL_director) =  4758
len(ALL_genres) =  20
len(ALL_production_companies) =  7842

# Step 2 
**Make one column for each cast,director,genres and production_companies ** and defult value will be Zero

In [34]:
df.shape

(9772, 15)

In [35]:
def CreateColumn(column_name,column_type):
    '''
    this func is simply create new column with enter name (column_name)
    
    return ---> null
    '''
    df[f"{column_name}_{column_type}"] = 0

In [36]:
print('Start    ',datetime.datetime.now())

print('ALL_CAST start    ',datetime.datetime.now())
[CreateColumn(x,'CAST') for x in ALL_CAST]

print('ALL_director start    ',datetime.datetime.now())
[CreateColumn(x,'director') for x in ALL_director]

print('ALL_genres start    ',datetime.datetime.now())
[CreateColumn(x,'genres') for x in ALL_genres]

print('ALL_production_companies start    ',datetime.datetime.now())
[CreateColumn(x,'production_companies') for x in ALL_production_companies]

print('end    ',datetime.datetime.now())

Start     2019-03-26 08:54:50.928314
ALL_CAST start     2019-03-26 08:54:50.928610
ALL_director start     2019-03-26 08:57:36.125456
ALL_genres start     2019-03-26 08:59:25.072264
ALL_production_companies start     2019-03-26 08:59:25.111916
end     2019-03-26 09:03:48.371252

In [37]:
df.shape

(9772, 29759)

In [38]:
df.to_csv('../Data/P2/tmdb-movies_Cleaning_3',index=False)

In [2]:
df = pd.read_csv('../Data/P2/tmdb-movies_Cleaning_3')

**Now Fill for each one with value (1) if they in this film** Starting with create handi function

In [4]:
def FillMoveisDetails(index,Column_name):
    '''
    this func will insert new value for spicifac column and index 
    
    return ---> null
    '''
    df.at[index,Column_name] = 1
    print(f'FillMoveisDetails {index} , {Column_name}')

In [5]:
def GetCastName(CastList,df_index,Column_type):
    '''
    this func will take list of cast and take each one sprate 
    to use it in FillMoveisDetails() func  
    
    return ---> null
    '''
    [FillMoveisDetails(df_index,f'{y}_{Column_type}') for y in CastList]
    print(f'GetCastName {df_index} , {Column_type}')

In [6]:
index = 0

def GetIndexAndValue(Record,Column_type): 
    global index
    try:
        GetCastName(CastList=Record.split('|'),df_index=index,Column_type=Column_type)
        print(f'GetIndexAndValue {index} , {Column_type}')
    except:
        print(f'exception with index = {index} with {Column_type} ')
        
    index += 1

In [ ]:
print('ALL_CAST start FILL  ',datetime.datetime.now())
df.cast.map(lambda x:GetIndexAndValue(x,'CAST'))
print('ALL_CAST END FILL  ',datetime.datetime.now())
global index
index = 0

In [ ]:
print('ALL_director start FILL  ',datetime.datetime.now())
df.director.map(lambda x:GetIndexAndValue(x,'director'))
print('ALL_director END FILL  ',datetime.datetime.now())
global index
index = 0

In [ ]:
print('ALL_genres start FILL  ',datetime.datetime.now())
df.genres.map(lambda x:GetIndexAndValue(x,'genres'))
print('ALL_genres END FILL  ',datetime.datetime.now())
global index
index = 0

In [ ]:
print('ALL_production_companies start FILL  ',datetime.datetime.now())
df.production_companies.map(lambda x:GetIndexAndValue(x,'production_companies'))
print('ALL_production_companies END FILL  ',datetime.datetime.now())
global index
index = 0

In [11]:
df.drop(columns=['cast','director','genres','production_companies'],inplace=True)

In [13]:
df.to_csv('../Data/P2/tmdb-movies_Cleaning_4',index=False)