In [107]:
ls 'Data/'

tmdb-movies.csv



# Project: Investigate a TMDb movie data 

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

% matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

In [109]:
ls

Data/                     Project_2_template.ipynb  README.md

In [110]:
df = pd.read_csv('Data/tmdb-movies.csv')


### Data Exploring

In [111]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [112]:
df.shape

(10866, 21)

In [113]:
df.head(1).T

                                                                      0
id                                                               135397
imdb_id                                                       tt0369610
popularity                                                      32.9858
budget                                                        150000000
revenue                                                      1513528810
original_title                                           Jurassic World
cast                  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
homepage                                  http://www.jurassicworld.com/
director                                                Colin Trevorrow
tagline                                               The park is open.
keywords              monster|dna|tyrannosaurus rex|velociraptor|island
overview              Twenty-two years after the events of Jurassic ...
runtime                                                             124
genres                        Action|Adventure|Science Fiction|Thriller
production_companies  Universal Studios|Amblin Entertainment|Legenda...
release_date                                                     6/9/15
vote_count                                                         5562
vote_average                                                        6.5
release_year                                                       2015
budget_adj                                                     1.38e+08
revenue_adj                                                 1.39245e+09

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [136]:
df.describe().T[['min','max']]

                      min           max
popularity       0.000188  3.298576e+01
budget           0.000000  4.250000e+08
revenue          0.000000  2.781506e+09
runtime          0.000000  8.770000e+02
vote_count      10.000000  9.767000e+03
vote_average     1.500000  8.700000e+00
release_year  1960.000000  2.015000e+03

### Data Cleaning

In [115]:
## remove annassiri columns 
df.drop( inplace= True ,columns=['id',
                                'imdb_id',
                                'homepage',
                                'tagline',
                                'keywords',
                                'overview',
                                'budget_adj',
                                'revenue_adj'])

In [116]:
df.shape

(10866, 13)

In [118]:
# check null
df.isnull().sum()

popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
director                  44
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
dtype: int64

In [119]:
# drop null 

# i can do better than this use api to complite missing data but its simple project haha ... 
df.dropna(inplace=True)

In [120]:
df.isnull().sum()

popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
director                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
dtype: int64

In [121]:
# check dublicated ... 

df.duplicated().sum()

1

In [125]:
# see duplicated detales to be sure when deleted ... 
df[df.duplicated()]

,popularity,budget,revenue,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
2090,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,Dwight H. Little,92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010

In [126]:
df.query("original_title == 'TEKKEN'")

,popularity,budget,revenue,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
2089,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,Dwight H. Little,92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010
2090,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,Dwight H. Little,92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010

In [127]:
# drop duplicated .... 
df.drop_duplicates(inplace=True)

In [137]:
df.head(1).T

                                                                      0
popularity                                                      32.9858
budget                                                        150000000
revenue                                                      1513528810
original_title                                           Jurassic World
cast                  Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                                                Colin Trevorrow
runtime                                                             124
genres                        Action|Adventure|Science Fiction|Thriller
production_companies  Universal Studios|Amblin Entertainment|Legenda...
release_date                                                     6/9/15
vote_count                                                         5562
vote_average                                                        6.5
release_year                                                       2015

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!